@use "./../base/variables.scss" as *;

%btn-common {
  border-radius: $border-radius-10;
  padding: 0.5rem 1.5rem;

  &:hover {
    filter: brightness(90%);
  }
}

.btn-primary {
  @extend %btn-common;

  color: $cl-white !important;
  background-color: $cl-primary;
}

.btn-secondary {
  @extend %btn-common;

  color: $cl-primary;
  border: 2px solid $cl-primary;
}
