@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

$white-bg: #fcfbfc;

$cl-white: #fcfbfc;
$cl-primary: #5d60ef;
$cl-secondary: #ded7fb;

$border-radius-10: 10px;
$border-radius-20: 20px;

$fs-title: 32px;
$fs-subtitle: 24px;
$fs-content: 16px;

$font-family: "Open Sans";

$layout-margin: 40px;
