---
import Layout from "../layouts/Layout.astro";

const text = {
  title: "Our Resources",
};
---

<Layout navbarActive="resources">
  <div class="page page_resources">
    <div class="wrapper">
      <h1 class="title">{text.title}</h1>
      <div class="content">
        <a
          href="https://baltacmihai.github.io/componentui/resources/colorpalletes/"
          class="resource-card">Color palletes</a
        >
      </div>
    </div>
  </div>
</Layout>
