---
import { URL } from "../assets/data/url";

export interface Props {
  title: string;
  description: string;
  icon: string;
  link: string;
}

const text = {
  type: "Guide",
  link: "Explore",
};

const { title, description, icon, link } = Astro.props as Props;
---

<div class="guide-card">
  <img src={URL + icon} alt={title + " icon"} class="icon" />
  <div class="details">
    <p class="type">{text.type}</p>
    <h2 class="subtitle">{title}</h2>
    <p class="description">{description}</p>

    <a class="btn-primary" href={URL + link}>{text.link}</a>
  </div>
</div>
