@use "./../base/variables.scss" as *;
@use "./../base/response.scss" as *;

.page_home {
  margin-top: 5rem;
  section {
    .wrapper {
      .subtitle {
        font-size: $fs-subtitle;
        font-weight: lighter;
        margin: 1rem 0;

        @include phone {
          width: 80%;
          text-align: center;
        }
      }

      .cta {
        margin-top: 2rem;
        font-weight: bold;
        letter-spacing: 1.5px;

        cursor: pointer;
      }
    }

    .illustration {
      width: 100vw;
    }
  }
}
