@use "./../base/variables.scss" as *;
.page_resources {
  .wrapper .title {
    width: 100%;
  }

  .content {
    margin-top: 5vh;
    width: 95vw;
    min-height: 80vh;
    gap: 2rem;

    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: center;
  }

  .resource-card {
    display: flex;

    height: fit-content;
    border-radius: 20px;
    padding: 1rem;
    --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
      0 10px 10px -5px rgba(0, 0, 0, 0.04);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0, 0, 0, 0)),
      var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-shadow);
    align-items: center;
    color: black;

    img {
      width: 150px;
      height: 150px;
    }
    p {
      margin-left: 1rem;
      font-size: $fs-subtitle;
    }
  }
}
