@use "./../base/variables.scss" as *;
@use "./../base/response.scss" as *;

$layout-padding: 1rem $layout-margin;

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: $cl-white;

  width: calc(100% - $layout-margin * 2);
  padding: $layout-padding;

  .logo {
    display: flex;
    align-items: center;

    &_image {
      width: 40px;
      height: 40px;
    }
    &_title {
      color: $cl-primary;
      font-size: $fs-subtitle;
      text-decoration: none;
      font-weight: bold;
      padding-left: 1rem;

      @include phone {
        display: none;
      }
    }
  }

  .wrapper {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include phone {
      display: none;

      &.responsive {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: fixed;
        left: 0;
        top: 10%;
        height: 90%;
        width: 100%;
        background: $white-bg;
      }
    }

    .items {
      color: black;
      font-size: $fs-content;
      padding: 0.5rem 1rem;

      &-active,
      &:hover {
        color: $cl-primary;
        padding-bottom: calc(0.5rem - 3px);
        border-bottom: 3px solid $cl-primary;
      }
    }

    .btn-primary {
      padding: 0.5rem 1rem;
    }
  }

  .responsive-icons {
    display: none;
    cursor: pointer;
    @include phone {
      display: flex;
    }

    .close {
      display: none;
    }
  }
}
