@use "./../base/variables.scss" as *;
@use "./../base/response.scss" as *;

.path-card {
  display: flex;
  flex-direction: column;

  border-radius: $border-radius-20;
  padding: 1rem;

  width: 50vw;

  --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

  .details {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .identity {
      display: flex;

      .path-logo {
        width: 100px;
        height: 100px;
      }
      .titles {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 1rem;
        .title {
          width: auto;
          color: black;
        }
        .number-guides {
          color: $cl-primary;
          font-size: $fs-content;
          font-weight: bold;
          span {
            font-weight: bolder;
          }
        }
      }
    }

    .btn-primary {
      padding: 1rem 3rem;
    }
  }

  .description {
    padding: 1rem;
  }
}
