---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import logo from "./../assets/images/icon.svg";
import "./../assets/sass/site.scss";

export interface Props {
  title?: string;
  description?: string;
  navbarActive?: string;
}

const {
  title = "Component UI",
  description = "High quality UI & UX guides created by community for community",
  navbarActive = "none",
} = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href={logo} />
    <meta name="description" content={description} />
    <title>{title}</title>
  </head>
  <body>
    <Navbar navbarActive={navbarActive} />
    <slot />

    <Footer />
  </body>
</html>
